<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo(a) {{titulo}}</title>
</head>
<body>
    {% block content %}
<div class="main-content main-content-detail container">
    <section class="form-control" style="margin-left: 5em">
        <form method="POST" enctype="multipart/form-data">
            <h1 style="text-align: center;">Novo(a) {{titulo}}</h1>
            <div class="row">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="col-12 col-lg-12" style="margin-bottom: 20px;">
                        <label for="{{ field.id_for_label }}" style="color: #000000; font-size: 20px; margin-bottom: 10px;">{{field.label}}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit" class="btn btn-success col-12">Adicionar {{titulo}}</button>
            </div>
        </form>
    </section>
</div>
{% endblock content %}
</body>
</html>