<!DOCTYPE html5>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Novo(a) {{titulo}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        {% block content %}
        <div class="bg-secondary">
            <div class="main-content main-content-detail container d-flex justify-content-center">
                <section class="form-control min-vh-100 my-5 ms-5 me-5 col-sm-2 col-form-label">
                    <form method="POST" enctype="multipart/form-data">
                        <h1 class="d-flex justify-content-center">Novo(a) {{titulo}}</h1>
                        <div>
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <div class="my-2">
                                    <label for="{{ field.id_for_label }}" class="text-dark fs-5 mb-2 my-4">{{field.label}}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success col-12">Adicionar {{titulo}}</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        {% endblock content %}
    </body>
</html>