<!DOCTYPE html5>
<html lang="pt-br">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <div>Controle de Processos Administrativos</div>
        </header>
        
            <nav>
             <div>
                <ul>
                <li><a>Processo</a></li>
            
                <li><a>Funcionário</a></li>

                <li><a>Consulta</a></li>
                </ul>
            </div>
            </nav>
            
        
        <main>
            <div>
                <h1>{{mensagem}}</h1>
            </div>
        </main>
    <footer>
        <div>Footer</div>
    </footer>
    </body>
</html>